@model WebCalendar.Models.Restricciones

@{
    ViewData["Title"] = "Delete";
}


<h1 class="text-center">Borrar una restricción</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white" width="100%"><strong>Datos del equipo</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="RestriccionesBorrar" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @{
                        Competiciones competicion = ViewBag.Competicion;
                        TiposRestricciones tipoRestriccion = ViewBag.TipoRestriccion;
                        Jornadas jornada = ViewBag.Jornada;
                        Equipos equipo = ViewBag.Equipo;
                        Equipos equipoRival = ViewBag.EquipoRival;
                        string nombreEquipoRival = "";
                        if (equipoRival != null)
                            nombreEquipoRival = equipoRival.NombreEquipo;

                        <div class="form-group">
                            <label for="Restriccion" class="control-label">Tipo restricción</label>
                            <input id="Restriccion" class="form-control" value="@tipoRestriccion.Tipo_Restriccion" readonly />
                        </div>
                        <div class="form-group">
                            <label for="Competicion" class="control-label"></label>
                            <input id="Competicion" class="form-control" value="@competicion.NombreCompeticion" readonly />
                        </div>
                        <div class="form-group">
                            <label for="Jornada" class="control-label"></label>
                            <input id="Jornada" class="form-control" value="@jornada.Num_Jornada" readonly />
                        </div>
                        <div class="form-group">
                            <label for="EquipoLocal" class="control-label"></label>
                            <input id="EquipoLocal" class="form-control" value="@equipo.NombreEquipo" readonly />
                        </div>
                        if (tipoRestriccion.ID_Tipo_Restriccion > 2)
                        {
                            <div class="form-group">
                                <label for="EquipoRival" class="control-label"></label>
                                <input id="EquipoRival" class="form-control" value="@nombreEquipoRival" readonly />
                            </div>
                        }
                        <div class="form-group mt-3 text-center">
                            <button type="submit" class="btn btn-primary d-inline-block mx-auto"><i class="bi bi-eraser"> Borrar</i></button>
                            <a class="btn btn-secondary" asp-controller="Restricciones" asp-action="RestriccionesIndex" asp-route-id="@competicion.ID_Competicion">Volver</a>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>





<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restricciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRestriccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoRestriccion.Tipo_Restriccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competicion.NombreCompeticion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Jornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Jornada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Equipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Equipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_EquipoRival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_EquipoRival)
        </dd>
    </dl>
    
    <form asp-action="RestriccionesBorrar">
        <input type="hidden" asp-for="ID_Restriccion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
