@model IEnumerable<WebCalendar.Models.Restricciones>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="RestriccionesCrear" asp-asp-controller="Restricciones" asp-route-id='@ViewData["idCompeticion"]' class="btn btn-primary d-block mx-auto btn-lg">
            <i class="bi bi-file-plus-fill">Nueva restricción</i>
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white" width="100%"><strong>Restricciones de @ViewData["NombreCompeticion"]</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="TblEquipos" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TipoRestriccion)</th>
                                    <th>@Html.DisplayNameFor(model => model.ID_Jornada)</th>
                                    <th>@Html.DisplayNameFor(model => model.ID_Equipo)</th>
                                    <th>@Html.DisplayNameFor(model => model.ID_EquipoRival)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var idComp = item.ID_Competicion;
                                    IList<TiposRestricciones> listaTiposRestriccion = ViewBag.TiposRestricciones;
                                    var tipoRestriccion = listaTiposRestriccion.Where(t => t.ID_Tipo_Restriccion == item.ID_Tipo_Restriccion).First();
                                    IList<Jornadas> listaJornadas = ViewBag.Jornadas;
                                    var jornada = listaJornadas.Where(j => j.ID_Jornada == item.ID_Jornada).First();
                                    IList<Equipos> listaEquipos = ViewBag.Equipos;
                                    var equipoLocal = listaEquipos.Where(e => e.ID_Equipo == item.ID_Equipo).First();
                                    var equipoVisitante = listaEquipos.Where(e => e.ID_Equipo == item.ID_EquipoRival).FirstOrDefault();
                                    string nombreEquipoVisitante = "";
                                    if (equipoVisitante == null)
                                        nombreEquipoVisitante = "";
                                    else
                                        nombreEquipoVisitante = equipoVisitante.NombreEquipo;

                                    <tr>
                                        <td>@tipoRestriccion.Tipo_Restriccion</td>
                                        <td>@jornada.Num_Jornada</td>
                                        <td>@equipoLocal.NombreEquipo</td>
                                        <td>@nombreEquipoVisitante</td>
                                        <td>
                                            <a class="btn btn-danger d-inline-block" asp-controller="Restricciones" asp-action="RestriccionesBorrar" asp-route-id="@item.ID_Restriccion"><i class="bi bi-eraser">Borrar</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay restricciones</p>
                    }
                </div>
                <div class="text-center">
                    <a class="btn btn-secondary" asp-controller="Competiciones" asp-action="CompeticionesIndex" asp-route-id='@ViewData["idCompeticion"]'>Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a DataLable
            $('#TblEquipos').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Filas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total Filas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Filas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            })
        })
    </script>
}
